In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Importing dataset**
    
    
    1.Since data is in form of excel file we have to use pandas read_excel to load the data
    2.After loading it is important to check null values in a column or a row
    3.If it is present then following can be done,
        a.Filling NaN values with mean, median and mode using fillna() method
        b.If Less missing values, we can drop it as well

In [58]:
train_data=pd.read_excel('/content/Airlines_data.xlsx')

In [59]:
train_data.head()

       Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
0       IndiGo      24/03/2019  Banglore  ...    non-stop         No info   3897
1    Air India       1/05/2019   Kolkata  ...     2 stops         No info   7662
2  Jet Airways       9/06/2019     Delhi  ...     2 stops         No info  13882
3       IndiGo      12/05/2019   Kolkata  ...      1 stop         No info   6218
4       IndiGo      01/03/2019  Banglore  ...      1 stop         No info  13302

[5 rows x 11 columns]

In [60]:
train_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

**We drop the missing values, since only a few are present**

In [61]:
train_data.dropna(inplace=True)

In [62]:
train_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [63]:
train_data.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

**From description we can see that Date_of_Journey is a object data type,**
     
     
     Therefore, we have to convert this datatype into timestamp so as to use this column properly for prediction,because our 
     model will not be able to understand Theses string values,it just understand Time-stamp
    For this we require pandas to_datetime to convert object data type to datetime dtype.


    dt.day method will extract only day of that date
    dt.month method will extract only month of that date

In [64]:
def change_into_datetime(col):
    train_data[col]=pd.to_datetime(train_data[col])

In [65]:
for i in ['Date_of_Journey','Dep_Time','Arrival_Time'] :
  change_into_datetime(i)

In [66]:
train_data.dtypes

Airline                    object
Date_of_Journey    datetime64[ns]
Source                     object
Destination                object
Route                      object
Dep_Time           datetime64[ns]
Arrival_Time       datetime64[ns]
Duration                   object
Total_Stops                object
Additional_Info            object
Price                       int64
dtype: object

In [67]:
train_data['Journey_day']=train_data['Date_of_Journey'].dt.day
train_data['Journey_month']=train_data['Date_of_Journey'].dt.month

In [68]:
train_data.head()

       Airline Date_of_Journey    Source  ...  Price Journey_day Journey_month
0       IndiGo      2019-03-24  Banglore  ...   3897          24             3
1    Air India      2019-01-05   Kolkata  ...   7662           5             1
2  Jet Airways      2019-09-06     Delhi  ...  13882           6             9
3       IndiGo      2019-12-05   Kolkata  ...   6218           5            12
4       IndiGo      2019-01-03  Banglore  ...  13302           3             1

[5 rows x 13 columns]

**Since we have converted Date_of_Journey column into integers, Now we can drop as it is of no use**

In [69]:
train_data.drop('Date_of_Journey', axis=1, inplace=True)

In [70]:
train_data.head()

       Airline    Source Destination  ...  Price Journey_day Journey_month
0       IndiGo  Banglore   New Delhi  ...   3897          24             3
1    Air India   Kolkata    Banglore  ...   7662           5             1
2  Jet Airways     Delhi      Cochin  ...  13882           6             9
3       IndiGo   Kolkata    Banglore  ...   6218           5            12
4       IndiGo  Banglore   New Delhi  ...  13302           3             1

[5 rows x 12 columns]

In [71]:
def extract_hour(df,col):
    df[col+"_hour"]=df[col].dt.hour
def extract_min(df,col):
    df[col+"_minute"]=df[col].dt.minute
def drop_column(df,col):
    df.drop(col,axis=1,inplace=True)

In [72]:
extract_hour(train_data,'Dep_Time')
extract_min(train_data,'Dep_Time')
drop_column(train_data,'Dep_Time')

In [73]:
train_data.head()

       Airline    Source  ... Dep_Time_hour Dep_Time_minute
0       IndiGo  Banglore  ...            22              20
1    Air India   Kolkata  ...             5              50
2  Jet Airways     Delhi  ...             9              25
3       IndiGo   Kolkata  ...            18               5
4       IndiGo  Banglore  ...            16              50

[5 rows x 13 columns]

In [74]:
extract_hour(train_data,'Arrival_Time')


extract_min(train_data,'Arrival_Time')


drop_column(train_data,'Arrival_Time')

In [75]:
train_data.head()

       Airline    Source  ... Arrival_Time_hour Arrival_Time_minute
0       IndiGo  Banglore  ...                 1                  10
1    Air India   Kolkata  ...                13                  15
2  Jet Airways     Delhi  ...                 4                  25
3       IndiGo   Kolkata  ...                23                  30
4       IndiGo  Banglore  ...                21                  35

[5 rows x 14 columns]

**Managing Duration column int hours and minutes**

In [76]:
duration=list(train_data['Duration'])

for i in range(len(duration)):
    if len(duration[i].split(' '))==2:
        pass
    else:
        if 'h' in duration[i]:                   # Check if duration contains only hour
            duration[i]=duration[i] + ' 0m'      # Adds 0 minute
        else:
            duration[i]='0h '+ duration[i]       # if duration contains only second, Adds 0 hour

In [77]:
train_data['Duration']=duration
train_data.head()

       Airline    Source  ... Arrival_Time_hour Arrival_Time_minute
0       IndiGo  Banglore  ...                 1                  10
1    Air India   Kolkata  ...                13                  15
2  Jet Airways     Delhi  ...                 4                  25
3       IndiGo   Kolkata  ...                23                  30
4       IndiGo  Banglore  ...                21                  35

[5 rows x 14 columns]

In [78]:
'2h 50m'.split(' ')[1][0:-1]

'50'

In [79]:
def hours(x):
    return x.split(' ')[0][0:-1]
def minutes(x):
    return x.split(' ')[1][0:-1]

In [80]:
train_data['Duration_hours']=train_data['Duration'].apply(hours)
train_data['Duration_mins']=train_data['Duration'].apply(minutes)

In [81]:
train_data.head()

       Airline    Source  ... Duration_hours Duration_mins
0       IndiGo  Banglore  ...              2            50
1    Air India   Kolkata  ...              7            25
2  Jet Airways     Delhi  ...             19             0
3       IndiGo   Kolkata  ...              5            25
4       IndiGo  Banglore  ...              4            45

[5 rows x 16 columns]

In [82]:
drop_column(train_data,'Duration')

In [83]:
train_data.head()

       Airline    Source  ... Duration_hours Duration_mins
0       IndiGo  Banglore  ...              2            50
1    Air India   Kolkata  ...              7            25
2  Jet Airways     Delhi  ...             19             0
3       IndiGo   Kolkata  ...              5            25
4       IndiGo  Banglore  ...              4            45

[5 rows x 15 columns]

In [85]:
train_data['Duration_hours']=train_data['Duration_hours'].astype(int)

In [86]:
train_data['Duration_mins']=train_data['Duration_mins'].astype(int)

In [88]:
train_data.dtypes

Airline                object
Source                 object
Destination            object
Route                  object
Total_Stops            object
Additional_Info        object
Price                   int64
Journey_day             int64
Journey_month           int64
Dep_Time_hour           int64
Dep_Time_minute         int64
Arrival_Time_hour       int64
Arrival_Time_minute     int64
Duration_hours          int64
Duration_mins           int64
dtype: object

**Finding Categorical Variables**

In [91]:
cat_col=[col for col in train_data.columns if train_data[col].dtype=='O']
cat_col

['Airline', 'Source', 'Destination', 'Route', 'Total_Stops', 'Additional_Info']

**Finding Continous Variables**

In [93]:
con_col=[col for col in train_data.columns if train_data[col].dtype!='O']
con_col

['Price',
 'Journey_day',
 'Journey_month',
 'Dep_Time_hour',
 'Dep_Time_minute',
 'Arrival_Time_hour',
 'Arrival_Time_minute',
 'Duration_hours',
 'Duration_mins']